@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
        --primary: #f00;
        --primaryOpaque: #f00a;
        --secondary: #00f;
        --secondaryOpaque: #00fa;
        --background: #ccc
    }
    @font-face {
        font-family: 'Keroine Doux';
        font-style: normal;
        src: url(/fonts/Keroine/KeroinePRO-DouxExtreme.otf) format('opentype');
    }
    @font-face {
        font-family: 'Keroine Intense';
        font-style: normal;
        src: url(/fonts/Keroine/KeroinePRO-IntenseLegere.otf) format('opentype');
    }
    body {
        @apply bg-background text-text;
        font-family: Keroine Doux, sans-serif;
    }
    h1 {
        @apply text-2xl pb-12;
        font-family: Keroine Intense, sans-serif;
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-base;
    }
    p {
        @apply text-lg;
    }
    li {
        @apply text-2xl p-2;
    }
    .heading {
        @apply text-8xl;
    }
    .section-heading {
        @apply text-4xl mt-8 text-center;
    }
    .highlight {
        @apply bg-primary text-white rounded p-1;
    }
    select{
        transition: visibility 0.5s;
    }
}