@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
        --text: #000;
        --white: #fff;
        --background: #f5f5f5;
        --primary: #f15060;
        --secondary: #BEB6F2;
    }
    body {
        @apply bg-background text-text;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    h1 {
        @apply text-2xl pb-8;
        font-family: Degular, sans-serif;
        vertical-align: middle;
        line-height: 1.1;
        font-weight: bold
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-base;
    }
    p {
        @apply text-lg;
    }
    li {
        @apply text-2xl p-2;
    }
    .number{
        font-family: Degular-Display, sans-serif;
    }
    .heading {
        @apply text-8xl;
    }
    .section-heading {
        @apply text-4xl;
    }
    .leftAligned {
        @apply col-start-2 col-span-3;
    }
    .rightAligned {
        @apply col-start-9 col-span-3;
    }
    .highlight {
        @apply bg-primary text-white rounded;
    }
    select{
        transition: visibility 0.5s;
    }
    .source{
        @apply text-sm;
    }
    .marginSide{
        @apply md:mx-[45px]
    }
}