@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
        --primary: #f00;
        --primaryOpaque: #ff0000aa;
        --secondary: #a75fff;
        --secondaryOpaque: #a75fffaa;
        --background: #e3e3e3
    }
    @font-face {
        font-family: 'KeroineDoux';
        font-style: normal;
        src: url(src/assets/fonts/KeroinePRO-IntenseLegere.otf) format('opentype');
    }
    @font-face {
        font-family: 'KeroineIntense';
        font-style: normal;
        src: url(src/assets/fonts/KeroinePRO-DouxExtreme.otf) format('opentype');
    }
    body {
        @apply bg-background text-text;
        overflow-x: hidden;
        font-family: KeroineDoux, sans-serif;
    }
    h1 {
        @apply text-2xl pb-8;
        font-family: KeroineIntense, sans-serif;
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-base;
    }
    p {
        @apply text-lg;
    }
    li {
        @apply text-2xl p-2;
    }
    .heading {
        @apply text-8xl;
    }
    .section-heading {
        @apply text-4xl mt-8 text-center;
    }
    .highlight {
        @apply bg-primary text-white rounded p-1;
    }
    select{
        transition: visibility 0.5s;
    }
}