@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
        --text: #000;
        --white: #fff;
        --background: #f5f5f5;
        --primary: #f15060;
        --secondary: #BEB6F2;
    }
    html{
        background-color: var(--primary);
    }
    body {
        @apply bg-background text-text text-justify;
        overflow-x: hidden;
        scroll-behavior: smooth;
        background-image: linear-gradient(180deg, #f15060 0%, #f5f5f5 4%);
    }
    h1, h2, h3{
        @apply font-bold leading-[1] py-8 text-center;
        vertical-align: middle;
    }
    h1 {
        @apply text-[45px];
    }
    h2 {
        @apply text-[25px];
    }
    h3, li {
        @apply text-[20px];
    }
    p {
        @apply text-[16px];
    }
    a{
        @apply underline
    }
    /* Content Blocks */
    .content-container{
        @apply col-start-2 col-span-10 grid justify-items-center md:col-start-4 md:col-span-6
    }
    /* Special Formatting */
    .highlight {
        @apply bg-primary text-white rounded; 
        padding: 1px 2px 2px 2px;  
    }
    .select{
        padding: 0px 2px 2px 6px
    }
    .headline {
        @apply text-[85px];
    }
    /* Buttons */
    .button {
        @apply border border-primary rounded-lg px-4 py-2;
    }
    .button:hover {
        @apply bg-primary text-white;
    }
    .button:active {
        @apply bg-primary text-white;
    }
}